#-----------------------------------------------------------------------
# common
#-----------------------------------------------------------------------
*.a
*.o
*.la
*.lo
*.so
*.dll
*.exe
deps.mak
.deps/
.libs/
Makefile
Makefile.in

#-----------------------------------------------------------------------
# / (root)
#-----------------------------------------------------------------------
/autom4te.cache
/aclocal.m4
/build-aux/*
/config.h
/config.h.in
/config.log
/config.status
/configure
/intltool-*
/libtool
/stamp-h1

#-----------------------------------------------------------------------
# /m4/
#-----------------------------------------------------------------------
/m4/*
!/m4/geany.m4

#-----------------------------------------------------------------------
# /po/
#-----------------------------------------------------------------------
/po/*.gmo
/po/*.mo
/po/*.pot
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
